@page {
  size: A4;
  margin: 2cm 1.8cm;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt;
  line-height: 1.3;
  color: #000;
  column-count: 2;
  column-gap: 1.5cm;
  text-align: justify;
}

h1 {
  column-span: all;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0;
}

h1 + p {
  column-span: all;
  text-align: center;
  margin-bottom: 1.5em;
}

h1 + p + p {
  column-span: all;
  text-align: center;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 11pt;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1.2em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 10pt;
  font-weight: bold;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

p {
  margin: 0 0 0.6em 0;
  orphans: 3;
  widows: 3;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 9pt;
}

hr {
  display: none;
}
